@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

@import "./Colors";

@mixin link-font($color) {
    font-family: "Josefin Sans", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: $color;
}
@mixin sub-title {
    font-family: "Josefin Sans", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: $secondary-color;
}
@mixin secondary-heading($size) {
    font-family: "Josefin Sans", sans-serif;
    font-size: $size;
    font-weight: 400;
    color: $secondary-color;
}
@mixin primary-heading {
    font-family: "Josefin Sans", sans-serif;
    font-size: 3.4rem;
    font-weight: 600;
    color: $secondary-color;
}

@mixin paragraph {
    font-family: "Josefin Sans", sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    color: $text-color;
}
