@import "./Colors";

@mixin link-text {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
}
@mixin Button($x, $y,$radius) {
    background-color: $button-bg-color;
    color: $text-color;
    padding: $x $y;
    border-radius: $radius;
    &:hover {
        background-color: $button-hover-bg-color;
        color: $theme-color;
    }
}
